  ul{
    list-style-type:armenian;
    list-style-position: inside;
  }

  ol{
   /* list-style-type: georgian; */
   list-style-position: inside;
   list-style-image: url(./../assets/images/icon.png);
  
  }